<!DOCTYPE html>
<html lang='en'>
  <head>

      <meta name="viewport" content="width=device-width, initial-scale=1.0" charset='UTF-8'>
      <link rel="stylesheet" href="/static/css/style.css" type="text/css"> 

      <title>
        404 - error
      </title>

  </head>
    <body style="background-color: black; position: fixed;">

      <div class="stars"></div>
      <div class="twinkling"></div>
      <div class="clouds"></div>
      
      <div class='error-404'>
        
        <canvas id='myCanvas' style="background-color: white;">
      </canvas>
      <div class="logo_knots_index" style="background-color: black; border-radius: 50%;">
      <div class='error-404-circle'>
          <h2 style='margin-top: 30%;'>Page not found</h2>
          <h3>return to <a href='/blog'>home</a></h3>
        </div>
      </div>
      </div>

      <script type="text/javascript" src="/static/scripts/node_animate.js" first="31,10,9," second="236, 86, 73,"></script>
      </div>

    </body>
</html>